/*---------------------------------------------------------------------------------

 Theme Name:   bizmentors
 Theme URI:    
 Description:  Divi Child Theme for Bizmentors
 Author:       Ashley Tan
 Author URI:   
 Template:     Divi
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html

------------------------------ ADDITIONAL CSS HERE ------------------------------*/

/*---------------------------------------------------------
					ACTION BAR
---------------------------------------------------------*/
.action-bar {
	display: flex;
    justify-content: space-between;
	padding: 10px;
}

i.fa.fa-phone, i.fa.fa-envelope, i.fa.fa-facebook {
    color: #3B5998;
    font-size: 20px;
    padding: 10px;
}

/*---------------------------------------------------------
						HEADER
---------------------------------------------------------*/
.logo_container {
    display: none;
}

div#new-header {
    display: flex;
}

div#logo {
    padding-left: 200px;
}

div#action-buttons {
	flex-basis: 50%;
}

/*---------------------------------------------------------
						MENU
---------------------------------------------------------*/
ul#top-menu {
    text-transform: uppercase;
}

div#et-top-navigation {
	display: flex;
    padding-left: 0px!important;
    padding-top: 50px!important;
}

#top-menu-nav>ul>li>a:hover {
	color: #2991d6;
}

#top-menu li.current-menu-item>a {
	color: #2991d6;
	border-top: 5px solid #2991d6;
	padding-top: 20px;
}

i.fa.fa-home {
    font-size: 30px;
}

/*---------------------------------------------------------
						PAGES
---------------------------------------------------------*/
h1, h2, h4 {
	color: #1D427B!important;
}

.et_pb_row.et_pb_row_0, .et_pb_row.et_pb_row_1, .et_pb_row.et_pb_row_2, .et_pb_row.et_pb_row_3, .et_pb_row.et_pb_row_4, .et_pb_row.et_pb_row_5, .et_pb_row.et_pb_row_6, .et_pb_row.et_pb_row_7, .et_pb_row.et_pb_row_8, .et_pb_row.et_pb_row_9, .et_pb_row.et_pb_row_10, .et_pb_row.et_pb_row_11 {
	min-width: 90%;
}

/*---------------------------------------------------------
				MENTORING PROGRAMME PAGE
---------------------------------------------------------*/
div#steps {
    display: flex;
}

/*---------------------------------------------------------
					OUR MENTORS PAGE
---------------------------------------------------------*/
form.searchandfilter {
    padding-left: 100px;
}

select, select:focus {
    padding: 5px;
    border: 1px solid #2991D6;
    border-radius: 5px;
    color: #2991D6;
}

input[type="submit"] {
    background-color: #2991D6;
    border: 1px solid #2991D6;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.mentor-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.mentor {
    padding: 60px;
}

/*---------------------------------------------------------
					MENTOR PROFILE PAGE
---------------------------------------------------------*/
p.post-meta {
    display: none;
}

.mentor-profie img {
    width: 50%;
}

/*---------------------------------------------------------
					TESTIMONIALS SLIDES
---------------------------------------------------------*/
.et_pb_section.et_pb_section_4.et_pb_with_background.et_section_regular {
	padding: 0px!important;
}

/*---------------------------------------------------------
						PRE-FOOTER
---------------------------------------------------------*/
div#top, div#bottom, div#top-left, div#top-right, div#bottom-left, div#bottom-right {
	display: flex!important;
	align-items: center!important;
}

div#top, div#bottom {
	justify-content: center!important;
	margin-left: -10px!important;
}

div#top-left, div#top-right, div#bottom-left, div#bottom-right {
	width: 50%!important;
	padding: 25px!important;
}


div#top-left {
	background-image: url("http://localhost/bizmentorsmayo/wp-content/uploads/2017/11/Left-12-1.jpg")!important;
}

div#top-right {
	background-image: url("http://localhost/bizmentorsmayo/wp-content/uploads/2017/11/Right-1-1-1.jpg")!important;
}

div#bottom-left {
	background-image: url("http://localhost/bizmentorsmayo/wp-content/uploads/2017/11/Left-2-1-1.jpg")!important;
}

div#bottom-right {
	background-image: url("http://localhost/bizmentorsmayo/wp-content/uploads/2017/11/Right-2-1-1.jpg")!important;
}

/*---------------------------------------------------------
						FOOTER
---------------------------------------------------------*/
div#footer-widgets {
	text-align: center;
    display: flex;
    justify-content: center;
}

div#text-2 {
	margin-bottom: 0px;
}